* {
    transition: all 0.1s;
}

body {
    font-family: 'Ubuntu', 'Candara', 'Arial';
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* Header */
.page-header .font-lg {
    font-size: 40px;
}

.page-header {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0px;
    height: 64px;
    vertical-align: text-bottom;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    z-index: 10000;
}

.page-header .site-name {
    margin: 0px;
    padding: 10px 0px;
    font-weight: 400;
    cursor: default;
}

.page-header .col-md-12 {
    padding: 0px;
}

.col-md-1 {
    padding: 0px;
}

/* Navigation */
.pull-right {
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: middle;
    text-align: center;
    padding: 12px 15px;
}

.nav li {
    display: inline;
    margin: 0px;
}

.nav-pills li a, .nav li a {
    color: rgba(0,0,0,0.9);
    border-radius: 2px;
}

.nav li a:visited, .nav-pills li a:visited {
    background-color: rgba(255,255,255,1);
}

.nav li a:hover, .nav-pills li a:hover {
    background-color: rgba(0,0,0,0);
}

.nav li a:active, .nav-pills li a:active {
    background-color: rgba(0,0,0,0.4);
    color: rgba(255,255,255,1);
}

/* Jumbotron */
.main {
    margin-top: 64px;
    padding: 10px;
    background: url("../media/99.jpg") no-repeat center;
    background-size: 100% 100%;
    z-index: 0;
}

.main .container {
    border: 0px;
    padding: 0px;
}

.main .row {
    border: 0px;
    height: auto;
    padding: 0px 15px 0px 15px;
}

.main .row .col-md-4 {
    padding: 10px 5px 10px 5px;
    height: inherit;
    text-align: center;
}

.main .row .col-md-4 .cards {
    padding: 0px;
    height: 375px;
    width: auto;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.15);
    color: rgba(255,255,255,0.9);
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1),
                0px 2px 5px rgba(0,0,0,0.2);
    z-index: 0;
}

.main a {
    text-decoration: none;
}

.main .row .col-md-4 .cards:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.85);
    color: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1),
                0px 5px 25px rgba(0, 0, 0, 0.2);
    transform: scale(1.02, 1.02);
    z-index: 5;
}

.main a:hover {
    text-decoration: none;
}

.main .row .col-md-4 .cards:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3)/*,
        inset 0px 0px 100px 0.5px rgba(0,0,0,0.2)*/;
    transform: scale(0.999, 0.999);
    z-index: 1;
}

.main .row .col-md-4 .cards p {
    position: absolute;
    top: 65%;
    left: 2%;
    width: 95%;
    margin: 0;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}

.main .row .col-md-4 .cards h2 {
    position: relative;
    width: 100%;
    top: 200px;
    margin: 0;
    font-size: 24px;
    font-family:  'Lobster', cursive;
    color: rgba(255,255,255,0.999);
    text-decoration: none;
    text-shadow: 0px 0px 7px rgba(0,0,0,1);
}

.main .row .col-md-4 .cards .cards-bg {
    margin: 0;
    border-radius: 2px 2px 0px 0px;
    height: 65%;
}

.main .row .col-md-4 .arts-bg {
    opacity: 0.7;
    background: url('../media/musica%20art.jpg') no-repeat center;
    background-size: 100% 100%;
}

.main .row .col-md-4 .commerce-bg {
    opacity: 0.7;
    background: url('../media/shutterstock_527060021.jpg') no-repeat center;
    background-size: 100% 100%;
}

.main .row .col-md-4 .science-bg {
    opacity: 0.7;
    background: url('../media/Science2.jpg') no-repeat center;
    background-size: 100% 100%;
}

/* Supporting-Content 1 */
.guide {
    text-align: center;
    background-color: #fafafa;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    padding: 25px 0px;
    z-index: 10;
}

.guide h2 {
    margin: auto;
}

.guide .btn {
    vertical-align: center;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(158, 158, 158, 1);
    color: rgba(255,255,255,0.9);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    z-index: 11;
}

.guide .btn:hover {
    color: rgba(255,255,255,1);
    background-color: rgba(117, 117, 117, 1);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    transform: scale(1.01);
    z-index: 15;
}

.guide .btn:active {
    box-shadow: 0px 1px .1px 1px rgba(0,0,0,0.3),
                0px 1px 1px 1px rgba(255,255,255,0.2) inset;
    transform: scale(0.999);
    z-index: 10;
}